#testimonials {
  height: 100vh;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
  gap: 2rem;

  header {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 2rem;
    align-items: center;
  }

  header :first-child {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
  }

  .carousel {
    width: 80%;
    overflow: hidden;
    display: flex;
  }

  .carousel:hover {
    .carousel-content {
      animation-play-state: paused;
      cursor: pointer;
    }
  }

  .carousel-content {
    display: flex;
    gap: 1.5rem;
    width: max-content;
    animation: swipe 40s linear infinite;
  }

  .carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 12.5rem;
    /* background: var(--bg-color); */
    border-style: solid;
    border-color: #e3c2bb;
    border-radius: 0.875rem;

    
    
    padding: 1.625rem;
    text-align: center;
    gap: 1rem;
    background-color: #fff5f2;
    
    > img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
    }
    
    .rating {
      display: flex;
      margin-top: auto;
    }

    .names {
      font-size: var(--fs-sm);
      font-weight: var(--fw-bold);
      color: #2b1f1f;
     
    }
    .nome{
      color: #2b1f1f;
    }

    .cargo{
      color: #6f5551;
    }

    .names :first-child {
      /* color: var(--text-color); */
      font-size: var(--fs-base);
    }
  }
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50% );
  }
}

@media (width >= 580px) {
  #testimonials {
    gap: 2rem;
    align-items: center;

    header p {
      width: 60%;
    }

    .carousel {
      overflow-x: hidden;
      width: 80%;
    }

    .testimony {
      width: 80%;
    }

    .carousel-card {
      flex: 0 0 18rem;
      min-height: 20.875rem;
    }
  }
}